<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/d2d-client-servlet.xml</param-value>
  </context-param>
  <context-param>  
    	<param-name>currentEnv</param-name>  
    	<param-value>dev</param-value>  
  </context-param>  
  <listener>
    	<listener-class>com.d2d.config.ContextConfiguration</listener-class>
  </listener>
  <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>  
  <welcome-file-list>
    	<welcome-file>offer/Home.htm</welcome-file>
  </welcome-file-list>
  <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
				/WEB-INF/d2d-security.xml,
				/WEB-INF/d2d-security-db.xml				
		</param-value>
	</context-param>
  <servlet>
    <servlet-name>d2d-client</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SetupServlet</display-name>
  	<servlet-name>SetupServlet</servlet-name>
  	<servlet-class>com.d2d.config.SetupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d2d-client</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetupServlet</servlet-name>
  	<url-pattern>/SetupServlet</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
  <error-code>404</error-code>
  <location>/d2d/page-not-found.jsp</location>
  </error-page>
  <error-page>
  <error-code>500</error-code>
  <location>/d2d/error-page.jsp</location>
  </error-page>
  
</web-app>